@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Noticia+Text&family=Shadows+Into+Light&display=swap');
:root{
    --darkblue:#142786;
    --lightblue:#5E68AB;
    --pink:#F89FB3;
    --white:#Ffff;
    --cream:#FFF4F1;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.3);
}

/*login*/
body{
    background-color: var(--cream);
}

.login{
    display:flex;
    position: relative;
    border: 0px;
    border-radius: 10px;
    padding: 0px;
    margin: 100px;
    width:900px;
    background-color:var(--pink) ;
    box-shadow: var(--box-shadow);
}
.login img{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width:400px;
    height: 400px;
}
.login form{
    position: relative;
    width:300px;
    height: 300px;
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: var(--box-shadow);
    border-radius: 8px;
   
}

#input{
    width:250px;
    height: 15px;
    border: 1px solid rgb(215, 213, 213);
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    
}

#btn{
    width:270px;
    height: 40px;
    padding:10px;
    color: var(--white);
    background: var(--lightblue);
    border-radius: 5px;
    border: 0px;
    font-size: 20px;
}

#btn:hover{
    width:270px;
    height: 40px;
    padding:10px;
    color: var(--white);
    background: var(--lightblue);
    box-shadow: var(--box-shadow);
    border-radius:5px;
    border: 0px;
    font-size: 20px;
}

form h1{
    font-size: 30px;
    font-family: arial;
    color: var(--darkblue);
    margin-top:2px ;
    margin-bottom: 20px;
}

form i{
    margin-top: 10px;
    font-size: 50px;
    color: var(--darkblue);
}

@media(max-width:1122px){
    .login{
        display:inline-block;
        position: relative;
        border: 0px;
        border-radius: 10px;
        padding: 0px;
        margin: 10px;
        margin-top: 50px;
        margin-bottom: 50px;
        width:400px;
        background-color:var(--pink) ;
        box-shadow: var(--box-shadow);
        height: auto;
    }
    .login img{
        
        border-radius: 10px;
        width:400px;
        height: 400px;
    }
    .login form{
        position: relative;
        width:300px;
        height: 300px;
        background-color: white;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 50px;
        margin-bottom: 50px;
        box-shadow: var(--box-shadow);
        border-radius: 8px;
       
    }
    
    #input{
        width:250px;
        height: 15px;
        border: 1px solid rgb(215, 213, 213);
        box-shadow: var(--box-shadow);
        border-radius: 5px;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;
        
    }
    
    #btn{
        width:270px;
        height: 40px;
        padding:10px;
        color: var(--white);
        background: var(--lightblue);
        border-radius: 5px;
        border: 0px;
        font-size: 20px;
    }
    
    #btn:hover{
        width:270px;
        height: 40px;
        padding:10px;
        color: var(--white);
        background: var(--lightblue);
        box-shadow: var(--box-shadow);
        border-radius:5px;
        border: 0px;
        font-size: 20px;
    }
    
    form h1{
        font-size: 30px;
        font-family: arial;
        color: var(--darkblue);
        margin-top:2px ;
        margin-bottom: 20px;
    }
    
    form i{
        margin-top: 10px;
        font-size: 50px;
        color: var(--darkblue);
    }
}

